PORT=3001
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/
MONGO_DB_NAME=job-search-portal
OPENAI_API_KEY=sk-proj-your-openai-key-here
PEOPLE_DATA_LAB_TOKEN=your-pdl-token-here
PEOPLE_DATA_LAB_PREVIEW_API_KEY=your-pdl-preview-key-here
CORESIGNAL_TOKEN=your-coresignal-token-here
APOLLO_API_KEY=your-apollo-key-here
HUNTER_API_KEY=your-hunter-key-here
BREVO_API_KEY=your-brevo-key-here
